<body>

<h1>Edit Hike</h1>

<form action = "/hikes/{{id}}?_method=put" method = "POST">
<p>
    <label for = "hikeTitle">Hike Title</label>
    <input type = "text" value="{{hikeTitle}}" name = "hikeTitle">
</p>

<p>
    <label for = "author">Author</label>
    <input type = "text" value = "{{author}}" name = "author">
</p>

<p>
    <label for = "drivingDistance">Driving Distance</label>
    <input type = "text" value = "{{drivingDistance}}"  name = "drivingDistance">
</p>

<p>
    <label for = "hikeDifficulty">Difficulty<label>
    <input type = "number" value = "{{hikeDifficulty}}"  name = "hikeDifficulty">
</p>
<p>
    <label for = "hikeDuration">Duration<label>
    <input type = "string" value = "{{hikeDuration}}"  name = "hikeDuration">
</p>
<p>
    <label for = "hikeContent">Hike Content</label>
    <input type = "text" value = "{{hikeContent}}"  name = "hikeContent">
</p>
<input type = "submit" value = "Update">
</form>
</body>