<div class = 'hiketitle'>
    <h3 id = 'title' class ='title'>{{hike.hikeTitle}}</h3>
    <p class = 'title'>By: {{hike.author}}</p>
    {{#if isMyHike}}
    <a class="waves-effect waves-light btn" href = "/hikes/edit/{{hike.id}}">edit</a>
    <form action="/hikes/{{hike.id}}?_method=delete" method="POST">
    <input class = 'waves-effect waves-light btn red' type="submit" value="Delete">
    </form>
    {{/if}}
    

</div>
<div class = 'hikebox'>
    <div class = 'hiketop'>
        <div class = 'displayhike'>
            <div class = 'hikesummary'>
                <ul>
                    <li>
                        <p class = 'center-align stats'>Driving Distance:<br> {{hike.drivingDistance}}</p>
                    </li>
                    <li>
                        <p class = 'center-align stats'>Duration:<br> {{hike.hikeDuration}}</p>
                    </li>
                    <li>
                        <p class = 'center-align stats'>Difficulty:<br> {{hike.hikeDifficulty}}</p>
                    </li>
                </ul>
            </div>
            <div id="map" style="width:25%;height:300px;min-width:300px"></div>
            <div class = 'hikecontent'>
                <p><strong>Summary:</strong> {{hike.hikeSummary}}</p>
            </div>
        </div> 
    </div>
    <div class = 'hikebottom'>
        <p>{{hike.hikeDetail}}</p>
    </div>
</div>

{{#if currentUser}}
<div class = 'userforms'>
<form action = "/hikes/{{hike.id}}" method = "POST">
<p>
    <label for="hikeComment">Comment</label>
    <textarea name="hikeComment" cols="40" rows="5" required></textarea>
</p>
<input class="waves-effect waves-light btn" type = "submit" value = "Add Comment" required>
</form>
</div> 
{{/if}}

<div class = "commentscontainer">
    <h3>Comments</h3>
    {{#unless currentUser}}
    <p>You must be logged in to add a comment</p>
    {{/unless}}
    <p></p>
    <ul>
        {{#unless hike.hikeComments}}
        <p>There are no comments, add the first!</p>
        {{/unless}}
        {{#each hike.hikeComments}}
        <div class = 'comment'>
            <p><strong>Posted by: {{this.commentor}}</strong></p>
            <li>
            {{this.commentText}}
            </li>
        </div>
        {{/each}}
    </ul>
</div>

<script type="text/javascript" src="../js/maps.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAN4YlG2VqUaQkwAAzBI0sVRQmsFAVoTpM&callback=initMap"></script>

