<h1>{{hike.hikeTitle}}</h1>


<ul>
    <li>
        <p>{{hike.datePosted}}</p>
    </li>

    <li>
        <p>{{hike.author}}</p>
    </li>
    <li>
        <p>{{hike.drivingDistance}}</p>
    </li>
    <li>
        <p>{{hike.hikeDuration}}</p>
    </li>
    <li>
        <p>{{hike.hikeDifficulty}}</p>
    </li>
    <li>
        <p>{{hike.hikeContent}}</p>
    </li>
</ul>