
<h1>{{hike.hikeTitle}}</h1>

<a href = "/hikes/edit/{{hike.id}}">edit</a>

<ul>
    <li>
        <p>Date Posted: {{hike.datePosted}}</p>
    </li>

    <li>
        <p>Author: {{hike.author}}</p>
    </li>
    <li>
        <p>Driving Distance: {{hike.drivingDistance}}</p>
    </li>
    <li>
        <p>Hike Duration: {{hike.hikeDuration}}</p>
    </li>
    <li>
        <p>Hike Difficulty: {{hike.hikeDifficulty}}</p>
    </li>
    <li>
        <p>Hike Content: {{hike.hikeContent}}</p>
    </li>
</ul>
