
<div class = 'center-align'>
<h1>{{hike.hikeTitle}}</h1>


<a class="waves-effect waves-light btn" href = "/hikes/edit/{{hike.id}}">edit</a>

<ul>
    <li>
        <p>Date Posted: {{hike.datePosted}}</p>
    </li>

    <li>
        <p>Author: {{hike.author}}</p>
    </li>
    <li>
        <p>Author: {{hike.authorID}}</p>
    </li>
    <li>
        <p>Driving Distance: {{hike.drivingDistance}}</p>
    </li>
    <li>
        <p>Hike Duration: {{hike.hikeDuration}}</p>
    </li>
    <li>
        <p>Hike Difficulty: {{hike.hikeDifficulty}}</p>
    </li>
    <li>
        <p>Hike Content: {{hike.hikeSummary}}</p>
    </li>
</ul>
</div>

<h2>Comments Below</h2>
<ul>
    {{#each hike.hikeComments}}
    <li>
     {{this.commentText}}
        <ul>
            <li>
            {{this.commentor}}
            </li>
            <li>
            {{this.dateComment}}
            </li>
        </ul>
    </li>
    {{/each}}
</ul>

{{#if currentUser}}
<form action = "/hikes/{{hike.id}}" method = "POST">
<p>
    <label for="hikeComment">Comment</label>
    <input type="text" name = "hikeComment">
</p>
<input class="waves-effect waves-light btn" type = "submit" value = "Add Comment">
{{/if}}

