<div class = 'hiketitle'>
    <h3>{{hike.hikeTitle}}</h3>
    {{#if isMyHike}}
    <a class="waves-effect waves-light btn" href = "/hikes/edit/{{hike.id}}">edit</a>
    {{/if}}
</div>
<div class = 'hikebox'>
    <div class = 'hiketop'>
        <div class = 'displayhike'>
            <div class = 'hikesummary'>
                {{!-- <p>High Level</p> --}}
                <ul>
                    {{!-- <li>
                        <p>Posted: {{hike.datePosted}}</p>
                    </li> --}}

                    <li>
                        <p>By: {{hike.author}}</p>
                    </li>
                    <li>
                        <p>Driving Distance: {{hike.drivingDistance}}</p>
                    </li>
                    <li>
                        <p>Duration: {{hike.hikeDuration}}</p>
                    </li>
                    <li>
                        <p>Difficulty: {{hike.hikeDifficulty}}</p>
                    </li>
                </ul>
            </div>
            <div class = 'hikecontent'>
                <p>Summary: {{hike.hikeSummary}}</p>
            </div>
        </div>
    </div>
    <div class = 'hikebottom'>
        <p>{{hike.hikeDetail}}</p>
    </div>
</div>

{{#if currentUser}}
<div class = 'userforms'>
<form action = "/hikes/{{hike.id}}" method = "POST">
<p>
    <label for="hikeComment">Comment</label>
    <input type="text" name = "hikeComment" required>
</p>
<input class="waves-effect waves-light btn" type = "submit" value = "Add Comment" required>
</form>
</div> 
{{/if}}

<div class = "commentscontainer">
    <h3>Comments</h3>
    <ul>
        {{#each hike.hikeComments}}
        <div class = 'comment'>
            <p>Posted by: {{this.commentor}}</p>
            <li>
            {{this.commentText}}
            </li>
        </div>
        {{/each}}
    </ul>
</div>

