<h1>{{user.local.email}}'s Profile</h1>

<h2>{{user.local.email}}'s PostedHikes</h2>

<div class = 'hikecontainer'>
    <ul>
        {{#each hikes}}
        <a href = '/hikes/{{this.id}}'>
        <div class = 'hikecard'>
            {{!-- <li>
                <a href = '/hikes/{{this.id}}'>{{this.hikeTitle}}</a>
            </li> --}}
            <p>{{this.hikeTitle}}</p>
        </div>
        </a>
        {{/each}}
    </ul>
</div>